*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
body{
    
    font-size: 10pt;
}
.page-body{
    font-family:  Verdana, Geneva, sans-serif;
    margin :1% auto;
    background-color: #f6f6ef;
    width: 80%;

}
.nav-container{
    background:  rgb(255, 102, 0);
    width: 100%;
}
.nav-items-container{
    width: 40%;

}
.nav-items {
    width: 80%;
  

}

.nav-items li{
    padding:2px 2px 2px 2px;
    font-size: 10pt;
    color: black;
    display: inline-block;
    margin-right: 7px;
}