{% extends 'base.html' %}
{% load static%}
{% block content%}

        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <ol class="news-list-container">
                <div class="news-lists">
                        {% for job in page_obj %}
                        <li class="news-item">
                                <p class="news-title"><a href="{{ job.url }}"><i class="fa fa-caret-up" aria-hidden="true"></i>{{job.title}}</a>
                                </p>

                        </li>
                        {% endfor %}
                </div>
        </ol>
        {% include 'paginator.html'%}

{% endblock %}